[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/cupper-hugo-theme"]
	path = themes/cupper-hugo-theme
	url = https://github.com/zwbetz-gh/cupper-hugo-theme.git
[submodule "themes/airspace-hugo-theme"]
	path = themes/airspace-hugo-theme
	url = https://github.com/themefisher/airspace-hugo
[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
